/* Default style sheet for www.gimp.org -- be careful if you edit it. */
/* $Id$ */

body {
  background: white;
  color: black;
  font-family: arial,helvetica,sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  background: transparent;
  color: #17457c;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  background: transparent;
  color: #991e1e;
  text-decoration: underline;
  font-weight: bold;
}

img {
  border: none;
}

img.icon {
  float: left;
  margin: 5px;
}

img.map {
  margin: 0px;
  padding: 0px;
}

/* Main header. */
h1 {
  background: #f5f5f5;
  color: black;
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 1px;
  padding: 5px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 110%;
  text-align: center;
}

/* Subtitle header. */
h2 {
  font-weight: bold;
  clear: both;
  font-size: 110%;
}

/* Another subtitle using another font-size then the subtitle. */
h3 {
  font-weight: bold;
  clear: both;
  font-size: 105%;
}

div#main {
  padding: 10px;
  vertical-align: top;
}

/* This heading is going to be removed as soon as the whole site uses
 * the <h1> instead of this class file.*/
div.heading {
  background: #f5f5f5;
  color: black;
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 1px;
  padding: 5px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
}

div.newsheading {
  background: #42638d;
  color: #eeeeee;
  padding: 5px;
  font-weight: bold;
  clear: left;
}

/* This header is going to be removed as soon as the whole site uses
 * the <h2> instead of this class file.*/
div.subtitle {
  font-weight: bold;
  clear: both;
}

div.book-of-wilber { 
  font-size: large;
  background: #CC9966 url(../images/wilberbook.jpg);
  font-family:  postantiqua, "zapf chancery", "urw chancery l", fantasy;
  border: medium groove;
  padding: 1em;
}

p {
  margin: 1.33em 0px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
}

p.news {
  margin: 0.75em 0px;
  text-align: left;
}

p.images img {
  border: none;
}

p.images {
  text-align: center;
}

p.navindex {
  text-align: center;
  font-size: 80%;
}

span.newstitle {
  float: left;
}

span.newsdate {
  float: right;
}

span.filter {
  font-weight: bold;
}

span.path {
  font-weight: bold;
}

span.different {
  font-weight: bold;
  background-color:   transparent;
  color:              blue;
}

li {
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
}

.list li {
  padding-bottom: 1.2em;
}

.list p {
  margin: 0 0 0 0;
}

pre.code {
  color: black;
  background: #f5f5f5;
  border: solid 2px black;
  font-family: monospace;
  white-space: pre;
  margin: 1.33em 0px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 1.33em;
}

pre.debug {
  color: black;
  background: #ddddff;
  border: solid 2px black;
  font-family: monospace;
  white-space: pre;
  margin: 1.33em 0px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 1.33em;
}


pre.text {
  color: black;
  background: #ddddff;
  font-family: monospace;
  white-space: pre;
  margin: 1.33em 0px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 1.33em;
}

em.caution {
  color: #981e49;
  font-weight: bold;
}

em.warn {
  color: #d5a82f;
  font-weight: bold;
}

em.hellbrokeloose {
  color: #c74646;
  font-weight: bold;
}

kbd {
  font-weight: bold;
}

td#main {
  padding: 10px;
  vertical-align: top;
  width: 100%;
}

td.map {
  margin: 0px;
  padding: 0px;
}

/* Changes here should only be done if you know exactly what you are doing.
 * Changes done here will change the appearence of the whole site and should
 * be left up to the designer of the site to change. Contact the designer for
 * more information about the values below. */

#menu {
  background: #f5f5f5;
  color: black;
  border-style: solid;
  border-color: #d0d0d0;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  white-space: nowrap;
}

#layout {
  clear: both;
  margin: 0px;
  border: none;
  padding: 0px;
  border-collapse: collapse;
  width: 100%;
}

#titlebar {
  background-image: url("../images/barbg.png");
  background-repeat: repeat-x;
  height: 100px;
}

#titlebarleft {
  float: left;
}

#titlebarright {
  float: right;
}

#linkbar, #navbar {
  clear: both;
  background: #f5f5f5;
  color: black;
  border: solid #d0d0d0;
  border-width: 1px 0px 1px 0px;
  padding: 5px 5px 5px 5px;
  font-weight: bold;
  text-align: center;
}

#footerleft {
  float: left;
  padding: 20px;
}

#footerright {
  float: right;
  padding: 20px;
}

@media print {
#navbar, #linkbar, #menu {
  display: none
}

#main {
  padding-right: 0px;
  padding-left: 0px;
}

}
