/* Nasty workaround for IE browsers */
#header,
#maincontainer,
#bottommenu,
#linkbar {
  width: 65em;
  margin: 0 auto;
}

#main {
  width: 40em;
}

div.splash {
   width: 600px;
}

.intropara {
   width: 526px;
}

