/*
 * $Id$
 */
body {
  /*background: white none repeat scroll 0% 0%;*/
  background: #f5f5f5 none repeat scroll 0% 0%;
  color: black;
  font-family: arial,helvetica,sans-serif;
  margin: 0px;
  padding: 0px;
}

#banner {
  background: transparent url("../images/barbg.png") repeat-x scroll 0% 0%;
  height: 100px;
}
      
#titlebarleft {
  float: left;
}
      
#titlebarright {
  float: right;
}
      
#sidebar {
  background: #f5f5f5 none repeat scroll 0% 0%;
  border-right:    1px solid #d0d0d0;
  color:           black;
  float:           left;
  font-weight:     bold;
  height:          100%;
  padding:         1em 1em 3em 1em;
  vertical-align:  top;
  white-space:     nowrap;
  width:           12em;
}

#sidebar a {
  display: block;
  width:   auto;
}
      
#flow {
  background: white none repeat scroll 0% 0%;
  color: black;
  border-left: 1px solid #d0d0d0;
  margin-left: 14em;
  padding: 1em 1em 2em 1em;
  height: 100%;
}
      
#page-footer {
  clear: both;
  background: white none repeat scroll 0% 0%;
  color: black;
}

#colophon { 
  background: white none repeat scroll 0% 0%;
  color: black;
  height: 4em;
}

