<!--#include virtual="/includes/header_pretitle.inc" -->
<title>GIMP - Title goes here</title>
<!--#include virtual="/includes/header_posttitle.inc" -->
<div id="main">
<div class="heading">Title goes here</div>

<div class="subtitle">Subtitle goes here</div>
<p class="images">
  <img src="someimage.jpg" alt=""/>
  <img src="someotherimage.jpg" alt=""/>
</p>
<p>
  Text goes here
</p>

</div>
<!--#include virtual="/includes/tutnavbar.inc" -->
    <div>
      <span id="footerleft">
        Tutorial &copy; 2002 <a href="mailto:user@host.org">Author Name</a>
      </span>
      <span id="footerright">
        <a href="mailto:webmaster@gimp.org">webmaster@gimp.org</a>
      </span>
    </div>

  </body>
</html>
