<!--#include virtual="/includes/wgo-xhtml-init.xhtml" -->
<title>GIMP - Title goes here</title>
<!--#include virtual="/includes/wgo-look-feel.xhtml" -->
<!--#include virtual="/includes/wgo-tutorial-init.xhtml" -->
<h1>Title goes here</h1>

<h2>Subtitle goes here</h2>
<p class="images">
  <img src="someimage.jpg" alt=""/>
  <img src="someotherimage.jpg" alt=""/>
</p>
<p>
  Text goes here
</p>
<!--#include virtual="/includes/wgo-tutorial-fini.xhtml" -->
    <div>
      <span id="footerleft">
        Tutorial &copy; 2002 <a href="mailto:user@host.org">Author Name</a>
      </span>
      <span id="footerright">
        <a href="mailto:webmaster@gimp.org">webmaster@gimp.org</a>
      </span>
    </div>
<!--#include virtual="/includes/wgo-xhtml-fini.xhtml" -->
